@import url("https://fonts.googleapis.com/css2?family=Baloo+Thambi+2:wght@400;500;600;700&family=Balsamiq+Sans:wght@400;700&display=swap");

$light-red: #ff7674;
$pink: #ff74b7;
$ultra-pink: #ff74fc;
$fawn: #ffbc74;
$gray: rgb(192, 192, 192);
$balasamiq-sans: "Balsamiq Sans", cursive;
$baloo-thambi-2: "Baloo Thambi 2", cursive;
$profile-gray: #d7d9de;
